.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
inst/doc
src/*.o
src/*.so
src/*.dll
dev/data/
dev/cache/
*.copc.laz
*.laz
*.las
src/rust/vendor
src/Makevars
src/Makevars.win

# Exception : la dalle d exemple versionnee
!inst/extdata/exemple_nuage.laz
