# Genere par roxygen2 : ne pas editer a la main.
# Lancer devtools::document() apres avoir ecrit les blocs #'
export(dsr_appartenance)
export(dsr_canaux_externes)
export(dsr_catalog)
export(dsr_conductivite)
export(dsr_corridor)
export(dsr_dalles_requises)
export(dsr_divergence)
export(dsr_etat)
export(dsr_grille_reference)
export(dsr_layers_dtm)
export(dsr_layers_pc)
export(dsr_micro_relief)
export(dsr_parse_dalle)
export(dsr_pente)
export(dsr_rugosite)
export(dsr_sigma_surf)
export(dsr_slrm)
export(dsr_specs_geomorpho)
export(dsr_specs_surface)
export(dsr_vesselness)
importFrom(data.table,":=")
importFrom(data.table,data.table)
useDynLib(dessertR, .registration = TRUE)
