# Genere par roxygen2 : ne pas editer a la main.
# Lancer devtools::document() apres avoir ecrit les blocs #'
S3method(predict,dsr_modele_conductivite)
S3method(print,dsr_modele_conductivite)
export(dsr_appartenance)
export(dsr_apprendre_conductivite)
export(dsr_canaux_externes)
export(dsr_catalog)
export(dsr_conductivite)
export(dsr_corridor)
export(dsr_dalles_requises)
export(dsr_divergence)
export(dsr_export_gpkg)
export(dsr_qml_categorise)
export(dsr_rapport)
export(dsr_etat)
export(dsr_etat_trace)
export(dsr_grille_reference)
export(dsr_layers_dtm)
export(dsr_layers_pc)
export(dsr_measure)
export(dsr_micro_relief)
export(dsr_parse_dalle)
export(dsr_pathfinder)
export(dsr_repositionner)
export(dsr_pente)
export(dsr_profils)
export(dsr_rugosite)
export(dsr_sigma_surf)
export(dsr_coller_noeuds)
export(dsr_dedupe_paralleles)
export(dsr_detecter)
export(dsr_echantillon)
export(dsr_indice_detection)
export(dsr_vectoriser)
export(dsr_reseau)
export(dsr_sfnetwork)
export(dsr_seuils_grumier)
export(dsr_gabarit_libre)
export(dsr_trafficability)
export(dsr_places)
export(dsr_slrm)
export(dsr_specs_geomorpho)
export(dsr_specs_surface)
export(dsr_vesselness)
importFrom(data.table,":=")
importFrom(data.table,data.table)
useDynLib(dessertR, .registration = TRUE)
